
h3 {
    text-align: center;
}

.styleList {
    margin: 2%;
    display: block;
    flex-direction: column;
    flex-flow: column-nowrap;
}

.lineIndex {
    margin: 5px;
    margin-bottom: 5px;
    background-color: rgba(66, 66, 66, 0.096);
}

.contadorRegistros p {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.buttonExcluded {
    text-align: center;
}