* {
    list-style-type: none;
}

h3 {
    text-align: center;
}

.inputIp {
    margin-top: 10px;
    margin-left: 5.5px;
}

.styleList {
    margin: 2%;
    display: block;
    flex-direction: column;
    flex-flow: column-nowrap;
    display: flex;
}

.lineIndex {
    margin: 5px;
    margin-bottom: 5px;
    background-color: rgba(66, 66, 66, 0.096);
}

.contadorRegistros p {
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.homeIpExcluidos {
    color: rgb(72, 72, 167);
    text-decoration: underline;
    margin-bottom: 10px;
    margin: 0px;
    display: flex;
    width: 100px;
}

.buttonExcluded {
    position: absolute;
    margin-left: 15px;
}